/*********************************
12. Footer
*********************************/

.footer
{
	padding-top: 99px;
	padding-bottom: 82px;
}
.footer_logo
{
	padding-left: 0px;
	margin-bottom: 39px;
}
.footer_logo a
{
	color: #153070;
	line-height: 1;
}
.footer_intro p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul
{
	display: inline-block;
	margin-left: -5px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 22px;
}
.footer_social ul li a
{
	padding: 5px;
}
.footer_social ul li a i
{
	font-size: 12px;
	color: #bab6c3;
}
.footer_social ul li a:hover i
{
	color: #153070;
}
.footer_cr
{
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_cr_2
{
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_col
{
	margin-bottom: 27px;
}
.footer_col:last-child
{
	margin-bottom: 0px;
}
.footer_col_title
{
	font-size: 18px;
	font-weight: 500;
	color: #28262d;
	margin-bottom: 9px;
}
.footer_col ul li
{
	margin-bottom: 4px;
}
.footer_col ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #909090;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_col ul li a:hover
{
	color: #28262d;
}